/node_modules
storage/
/vendor
/.idea
Homestead.json
Homestead.yaml
.env
# Esclude file di sistema e personali
.DS_Store
Thumbs.db
*.log
*.tmp
*.bak
AppData/
OneDrive*/
NTUSER*
*.ini
.cache/
.vscode/
